:root {
    --light-green: #DADBD4;
    --white: #FFFFFF;
}


/**********************
    RESET
***********************/

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

img {
	max-width: 100%;
}

a {
	text-decoration: none;
	color: currentColor;
}

button {
	border: none;
	background-color: transparent;
}

menu,
ul,
ol {
	list-style: none;
}


/******************
    LAYOUT 
******************/

#app {
    height: 100vh;
    background-color: var(--light-green);
}

.app {
    height: 100%;
    width: 100%;
    display: flex;
    background-color: var(--light-green);
}

.sidebar {
    display: none;
}

.chat {
    flex-grow: 1;
}

/******************
    RESPOSIVE LAYOUT 
******************/

@media (min-width: 576px) {
    .sidebar {
        display: flex;
        width: 80px;
    }
}

@media (min-width: 992px) {
    .sidebar {
        width: 360px;
    }
    .app {
        width: 80%;
        height: 95%;
        margin: auto;
    }
    #app {
        padding-top: 30px;
    }
}




/******************
    DEBUG 
******************/

.debug #app {
    background-color: var(--light-green);
    height: 100vh;
}

.debug .app {
    background-color: var(--white);
}

.debug .sidebar {
    background-color: #8EDAFC;
    height: 100%;
}

.debug .chat {
    background-color: grey;
    height: 100%;
}