:root {
    --light-green: #DADBD4;
    --white: #FFFFFF;
    --light-grey: #EAEAEA;
    --darker-white: #FAFAFA;
    --icon-grey: #B1B1B1;
    --text-dark-grey: #5e5e5e;
    --blue: #8EDAFC;
}


/**********************
    RESET
***********************/

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

img {
	max-width: 100%;
}

a {
	text-decoration: none;
	color: currentColor;
}

button {
	border: none;
	background-color: transparent;
}

menu,
ul,
ol {
	list-style: none;
}

body {
    font-family: "Lato", sans-serif;
    font-style: normal;
}


/******************
    LAYOUT 
******************/

#app {
    height: 100vh;
    background-color: var(--light-green);
}

.app {
    height: 100%;
    width: 100%;
    display: flex;
    background-color: var(--light-green);
}

.sidebar {
    display: none;
}

.chat {
    flex-grow: 1;
}

/******************
    RESPOSIVE LAYOUT 
******************/

@media (min-width: 576px) {
    .sidebar {
        display: block;
        width: 80px;
    }
}

@media (min-width: 992px) {
    .sidebar {
        width: 360px;
    }
    .app {
        width: 80%;
        height: 95%;
        margin: auto;
    }
    #app {
        padding-top: 30px;
    }
}

/******************
    SIDEBAR 
******************/

.sidebar {
    background-color: var(--darker-white);
}

/* Navbar */
.sidebar-nav {
    color: var(--icon-grey);
}

.sidebar-nav {
    background-color: var(--light-grey);
    height: 75px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 0 15px;
}

.user-profile-img {
    height: 50px;
    display: block;
    border-radius: 50%;
}

.sidebar-nav-tools {
    display: none;
    gap: 20px;
    font-size: 25px;
}

/* Pop up */
.sidebar-pop-up {
    background-color: var(--blue);
    height: 80px;
    display: none;
    align-items: center;
    gap: 15px;
    padding: 0 15px;
}

.pop-up-icon {
    color: var(--blue);
    background-color: white;
    padding: 15px;
    border-radius: 50%;
}

.pop-up-title {
    font-weight: 600;
    font-size: 15px;
}

.pop-up-subtitle {
    color: var(--text-dark-grey);
    text-decoration: underline;
}

/* Searchbar */
.sidebar-search {
    display: none;
    background-color: var(--white);
    margin: 7px;
    gap: 25px;
    align-items: center;
    color: var(--icon-grey);
    padding-left: 15px;
}

.input-search {
    border: none;
    flex-grow: 1;
    line-height: 35px;
}

/* Conversations */
.sidebar-conversations {
    background-color: white;
    margin-right: 10px;
}

.chat-card {
    height: 80px;
    padding: 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.pro-pic {
    height: 50px;
    border-radius: 50%;
}

.contact-name {
    font-size: 17px;
    font-weight: 600;
}

.last-message-time {
    align-self: flex-start;
}

.last-message,
.last-message-time {
    font-size: 13px;
    color: #00000066;
}



/***********************
    RESPONSIVE SIDE BAR 
***********************/

@media (min-width: 992px) {
    .sidebar-nav-tools,
    .sidebar-pop-up,
    .sidebar-search {
        display: flex;
}





/******************
    DEBUG 
******************/

.debug #app {
    background-color: var(--light-green);
    height: 100vh;
}

.debug .app {
    background-color: var(--white);
}

.debug .sidebar {
    height: 100%;
}

.debug .chat {
    background-color: grey;
    height: 100%;
}